@charset "UTF-8";
/* CSS Document */

body {
    background-color: black;
    background-image: url(Header\ v3\ 1920x1080.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
}

header { /*Denna justerar framförallt startsidan*/
    text-align: center;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #474b5e;*/
}

.headimg { /*Denna justerar loggan på startsidan*/
    width: 50%;  
    margin: auto;
    margin-top: -5vw;
    margin-bottom: -6vw;
    /*border: 1px solid #c9cedf;*/
}




/* NEDRÄKNINGEN PÅ STARTSIDAN */
h3 {  /*Endast för texten "Filmen börjar om:"*/
    margin:auto 2.5vw;
    font-size: 4vw;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

small { /*Justerar texten "days, hours, minutes och secounds"*/
    color: #ffffff;
}

.countdown { /*justerar hur nedräkningen ser ut*/ 
    /*border: 1px solid #5b607c;*/
    display: flex; /*Jag har använt felxbox för nedräkningen då tutorialen jag kollade på använde det*/
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: auto;
    margin-bottom: 15vw;
    padding-top: 8vw;
    margin-top: -7vw;
    
}

.time { /*Justerar boxarna för dagar, timmar, osv, i nedräkningen*/
    /*border: 1px solid #5b607c;*/
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.time h4 { /*Justerar hur siffrorna i nedräkningen ser ut*/
    font-size: 5vw;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
}




/* MENY */

a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav-grid-start { /*Justerar meny-raden på startsidan*/
    display: flex;
    /*border: 1px solid #c9cedf;*/
    width: 100vw;
    height: 200px;
    justify-content: center;
}
.nav-grid-start > .nav-grid-item{
    /*border: 1px solid #c9cedf;*/
    width: 25vw;
}

.nav-grid { /*Justerar meny-raden på övriga sidor*/
   display: grid;
   grid-template-columns: auto auto auto auto auto; 
   /*border: 1px solid #c9cedf;*/
   justify-content: center;
}

/*Nav-grid-item är till för att justera boxarna i flex:en*/
.nav-grid-item { 
    /*border: 1px solid #5b607c;*/
    width: 20vw;
}

h2 { /*Texten i meny-raden (ej startsidan)*/
    color: white;
    text-align: center;
    font-size: 2vw;
    margin: 0vw 3vw;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h2_startsida { /*Meny-radens text är något större på startsidan*/
    font-size: 4vw;
    margin-top: -100px;
    
}

nav { /*Bakgrunden på meny-raden*/
    background-color: #0c191e;
    width: 100vw;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 20px;
}

.logo { /*Juserar loggan i meny-raden (ej på startsidan)*/
    display: grid;
    width: 200px;
    margin: -51px auto -31px auto;
    /*border: 1px solid #5b607c;*/
}




/*ANPASSAT FÖR MOBILBREDD*/

@media all and (max-width: 800px) {
    .h2_startsida {
        font-size: 20pt;
        margin-top: 20vh;
        /*border: 1px solid #5b607c;*/
    }
    
    .nav-grid-start { /*Justerar meny-raden på startsidan*/
        display: flex;
        flex-wrap: wrap;
        /*border: 1px solid #c9cedf;*/
        width: 100vw;
        justify-content: center;
        margin-top: -20vh;
    }
    .nav-grid-start > .nav-grid-item{
        /*border: 1px solid #c9cedf;*/
        width: 3000px;
        height: 20px;
    }
    
}



/* SPECIFIK CSS FÖR GALLERI-SIDAN */

.body_galleri {
    background-image: url(krigare.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin:0
}

* {box-sizing:border-box}

/*Självaste bildgalleriet justeras nedan*/

img {
    vertical-align: middle;
    width: 1000px;
}

.mySlides {
    display: none;
    width: 100%;
    /*border: 1px solid #5b607c;*/
    margin-top: 5vh;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    /*border: 1px solid #5b607c;*/
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
    
  }
  
/* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}




/* SPECIFIK CSS FÖR RECESIONER-SIDAN */

.body_recensioner {
    background-image: url(fackla.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

/*Reglerar rubrik för sidan*/
.rubrik-recensioner {
    font-size: 36pt;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/*Recensionsidad regleras med flexbox*/
.recensioner {
    display: flex;
    flex-direction: column;
}

/*Texten på sidan*/
p {
    color: white;
}

/*Bild på stjärnorna*/
.stars {
    width: 120px;
}

/*Recension 1*/
.recension1 {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

/*Brödtext för recension 1*/
.hide1 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    opacity: 0; /*Gömmer texten*/
}

/*Hovereffekt över recension1 - visar brödtext*/
.recension1:hover + .hide1 {
    opacity: 1;
}

/*Recension 2*/
.recension2 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: right;
    opacity: 1;
}

/*Brödtext för recension 2*/
.hide2 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    opacity: 0;
}

/*Hovereffekt över recension2 - visar brödtext*/
.recension2:hover + .hide2 {
    opacity: 1;
}

/*Recension 3*/
.recension3 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    opacity: 1;
}

/*Brödtext för recension 3*/
.hide3 {
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0;
}

/*Hovereffekt över recension3 - visar brödtext*/
.recension3:hover + .hide3 {
    opacity: 1;
}

/*Recension 4*/
.recension4 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: right;
}

/*Brödtext för recension 4*/
.hide4 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    opacity: 0;
}

/*Hovereffekt över recension4 - visar brödtext*/
.recension4:hover + .hide4 {
    opacity: 1;
}




/* SPECIFIK CSS FÖR BILJETTER-SIDAN */

.body_biljetter {
    background-image: url(sten.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

/*Biljettsidan är uppbyggd med grid i tre kolumner*/
.movie-container {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    margin-top: 50px;
    text-align: center;
}

/*"Meny" där rätt filmen väljs (dock finns det endast en)*/
#movie {
    grid-column: 2;
    border: 0;
    border-radius: 5px; /*Radie på ramen på rutan för att få rundarde hörn*/
    width: 50%; /*Rutan tar upp 50% av column 2*/
    margin: auto; /*placerar rutan i mitten av columnen*/
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Justerar listan för tillgänglig, vald och upptagen*/
.showcase {
    display: flex;
    grid-column: 2;
    list-style-type: none; /*Tar bort punkter på listan*/
    justify-content: center; /*Placerar listan i mitten av */
    padding: 10px;
    text-align: left;
}

/*Justerar mellanrumm mellan listobjekten*/
li {
    margin: 5%;
}

/*Rubrik på sidan*/
label { 
    grid-column: 2;
    color: white;
    font-size: 36pt;
}

/*Justerar texten som berättar valda platser och kostnad*/
.text {
    grid-column: 2;
    text-align: center;
}

/*Placerar salongen i column 2*/
.salon {
    grid-column: 2;
}

/*Justerar platserna i salongen och över*/
.seat {
    grid-column: 2;
    background-color: white;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px; /*Radien gör vänstra övre hörnet rundat*/
    border-top-right-radius: 10px; /*Radien gör högra övre hörnet rundat*/
}

/*Justerar radernas placering*/
.row {
    grid-column: 2;
    display: flex; /*Placerar platserna i rader istället för i en rad*/
    justify-content: center; /*Placerar raderna i mitten av columnen*/
}

/*Justerar färgen för de valda platserna*/
.seat.vald {
    background-color: #c26716;
}

/*Justerar färgen för de upptagna platserna*/
.seat.upptagen {
    background-color: #a62316;
}

/*Gör de tillgängliga platserna lite större när man hoverar över*/
.seat:not(.upptagen):hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*Tar bort hoverfunktionen för listan*/
.showcase .seat:not(.upptagen):hover {
    cursor: default;
    transform: scale(1);
}

/*Justerar "biodukens" utseende*/
.screen {
    background-color: white;
    width: 160px;
    height: 70px;
    transform: rotateX(-45deg); /*Ger duken lutning*/
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75); /*Ger duken ett ljus*/
    margin: auto; 
}

.salon {
    perspective: 1000px;
    margin-bottom: 30px;
}

/*Ändrar textfärg på antal platser och kostnad*/
p.text span {
    color: #c26716;
}

/*Justerar formuläret: placering och textfärg*/
.kontakt {
    grid-column: 2;
    color: white;
}

/*Justerar formuläret: ruta och typsnitt*/
.form-control {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    border-radius: 5px; /*Ger rundade hörn*/
}

/*Justerar skicka-knappen*/
.button {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    border-radius: 5px; /*Ger rundade hörn*/
}




/* SPECIFIK CSS FÖR FILMEVENT-SIDAN */

.body_filmevent {
    background-image: url(krigare.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

/*Eventsidan är uppbyggd med grid i fyra kolumner*/
.container-filmevent {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/*Justerar rubriken*/
.rubrik-sida {
    font-size: 36pt;
    text-align: center;
    margin: 0;
}

/*Justerar brödtexten*/
.text-filmevent {
    margin: auto;
    margin-top: 50px;
    text-align: left;
    width: 50%;

    justify-content: center;
}

/*Justerar bilden på postern*/
.poster {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}